<div class="container">
  <div class="row">
    <div class="mx-auto text-center">
      <h1>About</h1>
      <h4>このサイトは旅行好きのためのサイトです。<br/>
      旅行先の感動や感想をみんなで共有しましょう！！<br/>
      <br/>
      <br/>
      ぜひたくさんの投稿やコメントをしてください。<br/>
      <%= image_tag "k00041d_img01.jpg" ,size: '500x334', class: "img-fluid" %>
    </div>
  </div>
</div>