<div>
  <table>
    <thead>
      <tr>
        <th>会員ID</th>
        <th>会員名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td>
          <%= link_to admin_user_path(user) do %>
            <%= user.name %>
          <% end %>
        </td>
        <td><%= user.email %></td>
        <td></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
