<h4>いいね一覧</h4>
<table>
  <tbody>
    <% @favorite_post_spots.each do |post_spot|%>
    <tr>
      <td>
        <%= link_to spot_path(post_spot.id) do %>
          <%= post_spot.name %>
        <% end %>
      </td>
      <td><%= post_spot.user.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>